body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2, h3 {
    text-align: center;
    color: #333;
  }
  
  label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    width: 25%;
    display: block;
    margin: 0 auto;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  section {
    margin-top: 20px;
  }
  
  h3 {
    text-align: center;
    color: #333;
  }
  
  img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  button#btnLimpiar {
    background-color: #e74c3c;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    width: 25%;
    display: block;
    margin: 20px auto;
  }
  
  button#btnLimpiar:hover {
    background-color: #c0392b;
  }

  
  